<! pour créer une barre en haut de notre page web>
<mat-toolbar> TattooShop </mat-toolbar>
<mat-sidenav-container>
  <! pour créer un menu à gauche>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/">
          <! créer les petites img du menu>
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <! pour définir les liens du menu>
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Se connecter</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/tatoueurs">
          Tatoueurs
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Bienvenue !
    <div [hidden]="!authenticated()">
      <p>Vous êtes connecté.e</p>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Se déconnecter
    </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

