<! pour créer une barre en haut de notre page web>
<img src="/93moove.png" alt = "img" class = "img" />

<mat-sidenav-container>
  <! pour créer un menu à gauche>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/">
          <! créer les petites img du menu>
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <! pour définir les liens du menu>
        <a routerLink="/login">

          <div [hidden]="authenticated()">
          <span>Se connecter</span>

          </div>
          <div [hidden]="!authenticated()">
            <button mat-button (click)="logout()">
              Se déconnecter
            </button>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/cours">
          Nos cours

        </a>
      </mat-list-item>

    <mat-list-item>
      <a routerLink="/adherent">
        Adherent
      </a>
    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Bienvenue !
    <div [hidden]="!authenticated()">
      <p>Vous êtes connecté.e</p>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

