<p>Cours de l'association :</p>
<div [hidden]="!authenticated()">
  <a routerLink="/activite/create">Ajouter un cours</a>
</div>
<table mat-table [dataSource]="activites" >
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let activite"> {{activite.nom}} </td>
  </ng-container>
  <ng-container matColumnDef="style">
    <th mat-header-cell *matHeaderCellDef> Horaire </th>
    <td mat-cell *matCellDef="let activite"> {{ activite.style }} </td>
  </ng-container>
  <ng-container *ngIf="authenticated()" matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let activite">
      <a mat-button color="primary" [routerLink]="['/activite/', activite.id, 'view']">Voir</a>
      <a mat-button color="accent" [routerLink]="['/activite/', activite.id, 'edit']">Modifier</a>
      <button mat-button color="warn" (click)="deleteActivite(activite.id)">Supprimer</button>
    </td>
  </ng-container>
  <ng-container *ngIf="!authenticated()" matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let activite">
      <a mat-button color="primary" [routerLink]="['/activite/', activite.id, 'view']">Voir</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
